<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <!--logo  -->
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" width="30" height="30" alt="" loading="lazy">
  </a>
  <a class="navbar-brand" href="#">GOTY</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a  class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="/incio">Inicio</a>

      <a  class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="/goty">Votar</a>

    </div>
  </div>

</nav>
